.texto{
  font-size: 14vw;
}

.input,.input2,.input3{
    height: 60px;
    margin-bottom: 5%;
    display: none;
}

.caja{
    text-align: center;
}

.botones{
    height: 60px;
}

.btn-empezar{
    height: 60px; 
}

.btn-siguiente{
    display: none;
}

.alerta{
    width: 20%;
    float: right;
    position: absolute;
    right: 10%;
    bottom: 20%;
    display: none;
}

.caja-contar{
    width: 20%;
    position: absolute;
    right: 10%;
    bottom: 30%;
    background-color: aquamarine;
    text-align: left;
    z-index: -1;
    padding: 1%;
    line-height: 30px;
    display: none;
}

label{
    margin-bottom: 0px;
}

p{
    margin-top: unset;
    margin-bottom: unset;
}