.texto{
  font-size: 14vw;
}

.input,.input2,.input3{
    height: 60px;
    margin-bottom: 5%;
    display: none;
}

.caja{
    text-align: center;
}

.botones{
    height: 60px;
}

.btn-empezar{
    height: 60px; 
}

.btn-siguiente{
    display: none;
}

.alerta{
    width: 20%;
    float: right;
    position: absolute;
    right: 10%;
    bottom: 20%;
    display: none;
}

.caja-contar{
    width: 20%;
    position: absolute;
    right: 10%;
    bottom: 30%;
    background-color: aquamarine;
    text-align: left;
    z-index: -1;
    padding: 1%;
    line-height: 30px;
    display: none;
}

label{
    margin-bottom: 0px;
}

p{
    margin-top: unset;
    margin-bottom: unset;
}

.caja-audio{
    width: 100%;
    float: left;
    margin-bottom: 5%;
}

.caja-audio audio{
    float: left;
}

.caja-audio input{
    border: none;
    border-bottom: 2px solid black;
    background-color: unset;
    outline: unset;
    float: left;
    margin-left: 2%;
    margin-top: 4%;
}

.icono-check,.icono-wrong{
    display: none;
    float: left;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 2%;
}

.icono-check{
    color: green;
}

.icono-wrong{
    color: red;
}

.caja-contenedor{
    display: none;
}

.caja-contenedor:first-child{
    display: block;
}

.numero-orden{
    float: left;
    margin: 2%;
    font-size: 20px;
}

.indicacion{
    text-align: right;
    margin-right: 16%;
    margin-bottom: 2%;
}

.indicacion label{
    width: 200px;
    padding: 1%;
    margin: 1%;
    text-align: center;
}